h1{
    display : block;
    font-size : large;
    font-weight: bold;
    color :blue
}
body {
    background-color:black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #000000;
}

button {
    padding: 12px 25 px;
    font-size: 16px;
    background-color:deeppink;
    color:aqua;
    border:3px solid #000000;
    border-radius: 8px;
    cursor: pointer;

}


